---
---

// Reveal.js -----------------------------------
// Default mixins and settings -----------------
@import "reveal.js/css/theme/template/mixins";
@import "reveal.js/css/theme/template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import "fonts";

// Override theme settings (see ../template/settings.scss)
@import "tau0006";

.reveal {
  //background-color: darken( $backgroundColor, 15% );
  h1, h2 {
    font-family: $headingFont;
    font-weight: normal;
  }
}

/*
 *.slides > section {
 *  background-color: $backgroundColor;
 *  border: thin solid $backgroundColor;
 *  border-radius: 20vh;
 *  box-shadow: 0 0 10vh 10vh $backgroundColor;
 *}
 */

section.has-dark-background,
section#title-slide {
  text-shadow: 0 0 20px #294469;
	&, h1, h2, h3, h4, h5, h6 {
		color: #f4dcb4;
    text-shadow: 0 0 20px #294469, 0 0 10px #294469;
    font-family: $headingFont;
    font-weight: normal;
	}
  p.subtitle::after {
    content: " › ";
  }
  p.subtitle, p.date {
    float: left;
    font-family: $headingFont;
    font-weight: normal;
    text-transform: uppercase;
  }
  .author img {
    height: 1em;
    max-height: 75px;
    filter: invert(88%) sepia(29%) saturate(355%) hue-rotate(339deg) brightness(100%) contrast(92%);
    -webkit-filter: invert(88%) sepia(29%) saturate(355%) hue-rotate(339deg) brightness(100%) contrast(92%);
  }
}

.box {
  background: #ffffff33;
}

blockquote {
  font-size: $heading4Size;
  text-align: left;
  footer {
    text-align: right;
    cite {
      font-style: normal;
    }
  }
}

figcaption,
div.subfigures>p {
  display: none;
}

// Theme template ------------------------------
@import "reveal.js/css/theme/template/theme";
// ---------------------------------------------
